
@{
    ViewBag.Title = "AccountSettings";
}



<div class="divL">
    <a href="#"><button class="button1"><span>Change Email</span></button></a> <br>
    <a href="#"><button class="button1"><span>Change Password</span></button></a> <br>
    <a href="#"><button class="button1"><span>Change Shipping Info</span></button></a> <br>
    <a href="#"><button class="button1"><span>View Balance</span></button></a> <br>
    <a href="#"><button class="button1"><span>View Payment Info</span></button></a> <br>
   <button class="button1"><span>@Html.ActionLink("Delete your account", "deletemyaccount", "Home")</span></button> <br>
</div>


